docker.fixOwnership = true
conda.enabled = true

/*
* Pipeline parameters
*/

params {
    // directory of the primary fastq input files
    reads_dir = "${projectDir}/data/mouseEpi/fastq"

    // the directory for the results of fastqc
    fastqc_outdir = "${projectDir}/fastqc_results"

    // the directory for the output of trimmomatic
    trim_outdir = "${projectDir}/trimmed_fastq"

    // define the fa file for the adpaters
    adapter = "${projectDir}/adapter.fa"
}

