docker.fixOwnership = true
conda.enabled = true

/*
* Pipeline parameters
*/

params {
    // directory of the primary fastq input files
    reads_dir = "$projectDir/data/mouseEpi/fastq"

    // the directory for the results of fastqc
    fastqc_outdir = "$projectDir/fastqc_results"

    // the directory for the output of trimmomatic
    trim_outdir = "$projectDir/trimmed_fastq"

    // define the fa file for the adpaters
    adapter = "$projectDir/adapter.fa"

    // define the directory for the aligned bams
    aligned_outdir = "$projectDir/aligned_sam"

    // define the reference directory
    ref_dir = "$projectDir/data/mouseEpi/reference/bowtie_index"

    // define the reference sequence 
    ref_seq = "$projectDir/data/mouseEpi/reference/GRCm38.primary_assembly.genome.fa.gz"

    // define the annotation file
    gtf = "$projectDir/data/mouseEpi/reference/gencode.vM11.annotation.gtf.gz"

    // define the path to the sorted bam directory
    srt_bams = "$projectDir/sorted_bams"

    // define the path to hold the big wig files
    bw = "$projectDir/bigwig"
}

